bleach==3.2.1
certifi==2020.11.8
chardet==3.0.4
Django==2.2.15
django-markdownify==0.8.1
djangorestframework==3.12.2
humanize==3.1.0
idna==2.10
Markdown==3.2.2
packaging==20.4
Pillow==8.0.1
psycopg2==2.8.6
pyparsing==2.4.7
python-decouple==3.3
pytz==2020.4
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.2
webencodings==0.5.1
wget==3.2
